{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer profile</title>
    <link rel="stylesheet" href="{% static 'css/customer_profile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
</head>
<body>
    <button class="escape">
            <p class="escape-text">вернуться</p>
    </button>
    <div class="zakaziki">
        <p class="zakazy">
            Заказы
        </p>
        <p class="opisanie">
            У вас ещё нет заказов. Посмотрите наш каталог или воспользуйтесь поиском, если ищете что-то конкретное.
        </p>
    </div>
    <button class="na_glavnuyu">
        <p class="na_glavnuyu-text">перейти на главную</p>
    </button>
    </div>
    <div class="ld">
        <p class="ld-text">Личные данные</p>
        <form>
            <div class="criterii">
                <label for="surname"> Фамилия</label>
                <input type="text" id="surname" name="surname">
            </div>

            <div class="criterii">
                <label for="name">Имя </label>
                <input type="text" id="name" name="name">
            </div>

            <div class="criterii">
                <label for="second_name">Отчество </label>
                <input type="text" id="second_name" name="second_name">
            </div>

            <div class="criterii">
                <label for="name">E-mail</label>
                <input type="email" id="email" name="email">
            </div>

            <div class="criterii">
                <label for="name">Телефон </label>
                <input type="tel" id="tel" name="tel">
            </div>
            <button class="save">
                <p class="save-text">сохранить</p>
            </button>
        </form>
    </div>