hello

{% for i in products %}
<p>{{i.author}}</p>
<p>{{i.name}}</p>
<p>{{i.category}}</p>
<p><img src="{{ i.image.url }}"></p>
<p>{{i.description}}</p>
<p>{{i.colors}}</p>
<p>{{i.themes}}</p>
<p>{{i.height}}</p>
<p>{{i.width}}</p>
<p>{{i.price}}</p>
<p>{{i.available}}</p>
<p>{{i.created}}</p>
{% endfor %}

<h1>SEARCH PRODUCT BY PARAMS</h1>


<h1>ADD PRODUCT</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
    {% if sucsess == True %}<p style="color: rgb(13, 188, 13);">товар добавлен</p>{% endif %}
</form>
