body {background-image: url("images/fon.jpg")}

body {background-position: center center;
    background-attachment: scroll;
    background-size: cover;}

body {
    font-family: 'Michroma', sans-serif;
    }
