body {background-image: url("images/fon.jpg")}

body {background-position: center center;
    background-attachment: scroll;
    background-size: cover;}

body {
    font-family: 'Michroma', sans-serif;
    }

.escape {
    height:43px;
    width:auto;
    background-color: transparent;
    background-repeat: no-repeat;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    box-sizing: border-box;
    margin-left: 20px;
}

.escape-text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
} 
.zakaziki {
    margin-left: 100px;
}

.zakazy {
    color: white;
    font-size: 50px;
    font-weight: 350;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    }

.opisanie {
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    }

.na_glavnuyu{
    margin-left: auto; /*mlkeeflkerjglekr*/
    border-radius: 7px;
    background: rgb(247, 118, 21);
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    }

.na_glavnuyu-text{
     color: white;
     font-size: 25px;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 0px;
     text-align: center;
     cursor: pointer;
     margin-top: 7px;
     margin-bottom: 7px;
     margin-left: 25px;
     margin-right: 25px;
    }
    .na_glavnuyu:hover {
    background: #CA0A69;
   }

   .ld {
    margin-left: 100px;
   }
   
   .ld-text {
    color: white;
    font-size: 50px;
    font-weight: 350;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
   }

   .criterii label{
    display:block;
  }

  .label {
    font-size: 20px;
    font-weight: 400;
    color: white;

  }